<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings file="App.Secrets.config">
    <add key="Documental:EndpointUri" value="" />
    <add key="Documental:Key" value="" />
    <add key="Documental:DatabaseName" value="" />
  </appSettings>
</configuration>